<div class="row m-5">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col text-center">

                <div class="min-box">
                    <a href="/mantenimiento-autores"><img class="img-fluid" src="/assets/images/editor.png" alt=""></a>
                    <div>
                        <h5>Mantenimientos de Autores</h5>
                    </div>
                </div>
            </div>
            <div class="col text-center">

                <div class="min-box">
                    <a href="/mantenimiento-editoriales"><img class="img-fluid" src="/assets/images/editorial.png"
                            alt=""></a>
                    <div>
                        <h5>Mantenimientos de Editoriales</h5>
                    </div>
                </div>
            </div>
            <div class="col text-center">

                <div class="min-box">
                    <a href="/mantenimiento-libros"><img class="img-fluid" src="/assets/images/libro.png" alt=""></a>
                    <div>
                        <h5>Mantenimientos de Libros</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>